<div class="container">
  <div class="content_section">
    <div class="title_box">
        <h2 class="wow fadeInDown">
            Board
        </h2>
        <a class="btn btn-default write_button wow fadeIn" href="/board/list" role="button">
          <i class="fa fa-arrow-left fa-lg"> list</i>
        </a>
    </div>
    <p class="text-label">Title</p>
    <div class="border-title">
      <p><%= @post.title %></p>
    </div>
    <p class="text-label">Content</p>
    <div class="border-content">
      <p><%= markdown(@post.content) %></p>
    </div>
  </div><!--content_section-->
</div><!--container-->

<script>
$(function() {
    $("a#link_board").attr("href", "#");
    $("a#link_board").addClass("menu-selected");
});
</script>
