<div class="container content">
  <div class="content_section">
    <div class="title_box wow fadeInDown">
      <h2>
        Photo
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/assets/likelion_1.jpg" alt="해커톤" style="width:100%; height:100%" >
          <div class="caption">
            <h3 align="center">멋사 4기 해커톤</h3>
            <p>4기 해커톤 at 멋사! '원두콩'이라는 카페공유사이트 진행!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/assets/likelion_2.jpg" alt="하프톤" style="width:100%; height:100%">
          <div class="caption">
            <h3 align="center">멋사 4기 하프톤</h3>
            <p>'하비쉐어'라는 취미공유사이트 만들기를 진행한 국민대 멋사팀!</p>
          </div>
        </div>
      </div>    
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/assets/likelion_3" alt="멋사엠티1" style="width:100%; height:100%">
          <div class="caption">
            <h3 align="center">멋사 첫 엠티</h3>
            <p>외부 학교와의 친목도 쌓아가는 국민대 멋쟁이 사자처럼!</p>
          </div>
        </div>
      </div>    
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/assets/likelion_4" alt="멋사엠티2" style="width:100%; height:100%">
          <div class="caption">
            <h3 align="center">이두희 대장님</h3>
            <p>이두희 대장님과의 한 컷!</p>
          </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/assets/likelion_5" alt="..." style="width:100%; height:100%">
          <div class="caption">
            <h3 align="center">코딩 게임</h3>
            <p>'알까고'라는 프로젝트를 진행한 멋쟁이 사자처럼 4기 학생들!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/assets/likelion_6" alt="스터디" style="width:100%; height:100%">
          <div class="caption">
            <h3 align="center">팀스터디 진행</h3>
            <p>학교별 팀을 구성하여 오프라인 스터디 진행!</p>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>

<script>
  $(function() {
      $("a#link_photo").attr("href", "#");
      $("a#link_photo").addClass("menu-selected");
  });
</script>