<div class="padding_container">
    <div class="board_container wow fadeIn">
    
        <h2 class="floatleft">BOARD</h2>        
        <button class="btn btn-default alignright floatright" type="submit"><h5>Write</h5></button>        
    
        
    </div>
</div>

<script>
$(function() {
    $("a#link_board").attr("href", "#");
    $("a#link_board").addClass("active");
});
</script>