<header id="header_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header_area_text">
                    <h2 class="wow flipInX" data-wow-duration="2s">
                        LikeLion
                        <br>at Kookmin University
                    </h2>
                    <p class="wow flipInX">
                        멋쟁이 사자처럼 at 국민대학교는
                        <br>기술적 장벽때문에 본인의 생각을 세상 밖으로 표현하지 못한 국민대생들과 함께 합니다.
                        <br>자신의 아이디어를 실현할 수 있도록 도와드리겠습니다.
                        <br>프로그래밍은 지금부터 배웁니다. 걱정하지말고 도전하세요.
                        <br>2016년 3월, 열정적인 국민대생들과 함께 하고 싶습니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<footer id="footer_area">  
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="company_logo wow slideInLeft">
                    <h2 class="color_orange">CONTACT</h2>
                </div>
            </div>
            <div class="col-sm-5">
            </div>
            <div class="col-sm-4">
                <div class="company_address wow slideInRight">
                    <h2>Choi Jaewoong</h2>
                    <p>국민대학교 컴퓨터공학부 4학년</p>
                    <h3>010-4618-7334
                        <br>jwchoi0129@gmail.com </h3>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
$(function() {
    $("a#link_index").attr("href", "#");
    $("a#link_index").addClass("active");
});
</script>
