<div class="container">
    <nav class="navbar nav_transparent">
        <div class="navbar-header">
            <div class="logo">
                <a href="#"><h2 class="color_orange">LikeLion_Kookmin</h2></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul id="main_menu" class="nav navbar-nav navbar-right">
            <li><a class="active" href="#">Home</a></li>
            <li><a href="/home/member">Member</a></li>
            <li><a href="/home/board">Board</a></li>
          </ul>
          <!--<ul class="nav navbar-nav navbar-right">-->
          <!--  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
          <!--  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
          <!--</ul>-->
        </div>
    </nav>        
</div>
<header id="header_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header_area_text">
                    <h2 class="wow slideInDown" data-wow-duration="2s">
                        LikeLion
                        <br>at Kookmin University
                    </h2>
                    <p class="wow slideInUp">
                        멋쟁이 사자처럼 at 국민대학교는 
                        <br>기술적 장벽때문에 본인의 생각을 세상 밖으로 표현하지 못한 국민대생들과 함께 합니다. 
                        <br>자신의 아이디어를 실현할 수 있도록 도와드리겠습니다.
                        <br>프로그래밍은 지금부터 배웁니다. 걱정하지말고 도전하세요.
                        <br>2016년 3월, 열정적인 국민대생들과 함께 하고 싶습니다.                          
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<footer id="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="company_logo wow slideInLeft">
                    <h2 class="color_orange">CONTACT</h2>
                </div>
            </div>
            <div class="col-sm-5">
            </div>
            <div class="col-sm-4">
                <div class="company_address wow slideInRight">
                    <h2>Choi Jaewoong</h2>
                    <p>국민대학교 컴퓨터공학부 4학년</p>
                    <h3>010-4618-7334
                        <br>jwchoi0129@gmail.com </h3>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- end header top area -->


    <!--<section id="features_area" class="section_padding text-center">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-12 text-center">-->
    <!--                <h2>Features you’ll love</h2>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="row">-->
    <!--            <div class="col-sm-4">-->
    <!--                <div class="single_feature wow slideInUp" data-wow-duration="1s">-->
    <!--                    <i class="fa fa-user"></i>-->
    <!--                    <h3>Personal touch</h3>-->
    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.-->
    <!--                    </p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-sm-4">-->
    <!--                <div class="single_feature wow slideInUp" data-wow-duration="2s">-->
    <!--                    <i class="fa fa-flag"></i>-->
    <!--                    <h3>Personal touch</h3>-->
    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.-->
    <!--                    </p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-sm-4">-->
    <!--                <div class="single_feature wow slideInUp" data-wow-duration="3s">-->
    <!--                    <i class="fa fa-paint-brush"></i>-->
    <!--                    <h3>Personal touch</h3>-->
    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.-->
    <!--                    </p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
    <!-- end features area -->

    <!--<section id="story_area" class="section_padding">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-6">-->
    <!--                <div class="story_image wow slideInLeft" data-wow-duration="2s">-->
    <!--                    <img src="/assets/background.jpg" alt="">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-md-6">-->
    <!--                <div class="story_text wow slideInRight" data-wow-duration="2s">-->
    <!--                    <h2>Our Short Story</h2>-->
    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>-->
    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>-->
    <!--                    <a href="">More about our team</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
    <!-- end of story area -->


    <!--<section id="clients_say_area" class="section_padding">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-12 text-center">-->
    <!--                <h2>Blog you’ll love</h2>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="row">-->
    <!--            <div class="col-sm-6">-->
    <!--                <div class="clients_say wow slideInUp">-->
    <!--                    <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>-->
    <!--                    <div class="clients_say_list fix">-->
    <!--                        <div class="say floatleft">-->
    <!--                            <h5>Joe Doe</h5>-->
    <!--                            <h6>Creative Deirector at Gmoogle.com</h6>-->
    <!--                        </div>-->
    <!--                        <div class="c_img floatright">-->
    <!--                            <img src="/assets/client.png" alt="">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-sm-6">-->
    <!--                <div class="clients_say wow slideInUp">-->
    <!--                    <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>-->
    <!--                    <div class="clients_say_list fix">-->
    <!--                        <div class="say floatleft">-->
    <!--                            <h5>Joe Doe</h5>-->
    <!--                            <h6>Creative Deirector at Gmoogle.com</h6>-->
    <!--                        </div>-->
    <!--                        <div class="c_img floatright">-->
    <!--                            <img src="/assets/client.png" alt="">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-sm-6">-->
    <!--                <div class="clients_say wow slideInUp">-->
    <!--                    <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>-->
    <!--                    <div class="clients_say_list fix">-->
    <!--                        <div class="say floatleft">-->
    <!--                            <h5>Joe Doe</h5>-->
    <!--                            <h6>Creative Deirector at Gmoogle.com</h6>-->
    <!--                        </div>-->
    <!--                        <div class="c_img floatright">-->
    <!--                            <img src="/assets/client.png" alt="">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-sm-6">-->
    <!--                <div class="clients_say wow slideInUp">-->
    <!--                    <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>-->
    <!--                    <div class="clients_say_list fix">-->
    <!--                        <div class="say floatleft">-->
    <!--                            <h5>Joe Doe</h5>-->
    <!--                            <h6>Creative Deirector at Gmoogle.com</h6>-->
    <!--                        </div>-->
    <!--                        <div class="c_img floatright">-->
    <!--                            <img src="/assets/client.png" alt="">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
    <!-- end clients say area -->

    <!--<section id="Experience_area" class="section_padding">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-6">-->
    <!--                <div class="experience wow slideInLeft">-->
    <!--                    <h2>Our Experience</h2>-->
    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>-->
    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>-->
    <!--                    <a href="">View case studies</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-md-6">-->
    <!--                <div class="skills">-->
    <!--                   <h2>Skills</h2>-->
    <!--                    <div class="skill_right">-->

    <!--                        <p>C++ development</p>-->
    <!--                        <div class="progress wow slideInUp">-->
    <!--                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">-->
    <!--                                60%-->
    <!--                            </div>-->
    <!--                        </div>-->

    <!--                        <p>Photoshop</p>-->
    <!--                        <div class="progress wow slideInUp">-->
    <!--                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">-->
    <!--                                60%-->
    <!--                            </div>-->
    <!--                        </div>-->

    <!--                        <p>.Net</p>-->
    <!--                        <div class="progress wow slideInUp">-->
    <!--                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">-->
    <!--                                60%-->
    <!--                            </div>-->
    <!--                        </div>-->

    <!--                        <p>Argular js</p>-->
    <!--                        <div class="progress wow slideInUp">-->
    <!--                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">-->
    <!--                                60%-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
    <!-- end experience area -->

    <!--<section id="blog_area" class="section_padding">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-sm-4">-->
    <!--                <div class="single_blog wow slideInUp" data-wow-duration="1s">-->
    <!--                    <img class="img-responsive" src="/assets/1.jpg" alt="">-->
    <!--                    <h2>Cache Invalidation StrategiesWith Varnish Cache</h2>-->
    <!--                    <div class="comment_area fix">-->
    <!--                        <div class="date floatleft">-->
    <!--                            <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>-->
    <!--                        </div>-->
    <!--                        <div class="comment floatright">-->
    <!--                            <p><span><i class="fa fa-comments"></i></span>2 comments</p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-sm-4">-->
    <!--                <div class="single_blog wow slideInUp" data-wow-duration="2s">-->
    <!--                    <img class="img-responsive" src="/assets/2.jpg" alt="">-->
    <!--                    <h2>Cache Invalidation StrategiesWith Varnish Cache</h2>-->
    <!--                    <div class="comment_area fix">-->
    <!--                        <div class="date floatleft">-->
    <!--                            <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>-->
    <!--                        </div>-->
    <!--                        <div class="comment floatright">-->
    <!--                            <p><span><i class="fa fa-comments"></i></span>2 comments</p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-sm-4">-->
    <!--                <div class="single_blog wow slideInUp" data-wow-duration="3s">-->
    <!--                    <img class="img-responsive" src="/assets/3.jpg" alt="">-->
    <!--                    <h2>Cache Invalidation StrategiesWith Varnish Cache</h2>-->
    <!--                    <div class="comment_area fix">-->
    <!--                        <div class="date floatleft">-->
    <!--                            <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>-->
    <!--                        </div>-->
    <!--                        <div class="comment floatright">-->
    <!--                            <p><span><i class="fa fa-comments"></i></span>2 comments</p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
    <!-- end blog area -->

    <!--<section id="caal_to_action_area">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-sm-8">-->
    <!--                <div class="call_to_action_text wow slideInLeft" data-wow-duration="2s">-->
    <!--                    <h2>Are you ready to go?</h2>-->
    <!--                    <p>Here the call to action area. Lorem ipsum dolor sit amet and click to the button</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-sm-4">-->
    <!--                <div class="call_project text-right wow slideInRight" data-wow-duration="2s">-->
    <!--                    <a href="">Start your project</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
    <!-- end call to action area -->


