<!-- <div id="preloader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
</div> -->
<div class="container">
  <div class="content_section">
    <div class="title_box">
      <h2 class="wow fadeInDown">LikeLion at KookminUniversity</h1>
    </div>
    <p class="wow flipInX">멋쟁이 사자처럼 at 국민대학교는 본인의 생각을 세상 밖으로 표현하지 못한 국민대생들과
     기술적 장벽때문에 함께 합니다.</p>
    <p class="wow flipInX">자신의 아이디어를 실현할 수 있도록 도와드리겠습니다.</p>
    <p class="wow flipInX">프로그래밍은 지금부터 배웁니다. 걱정하지말고 도전하세요.</p>
    <p class="wow flipInX">2016년 3월, 열정적인 국민대생들과 함께 하고 싶습니다.</p>
  </div>
</div>

<script>
$(function() {
    $("a#link_index").attr("href", "#");
    $("a#link_index").addClass("menu-selected");
});
</script>
