<div class="container content">
  <div class="content_section">
    <div class="title_box wow fadeInDown">
      <h2 class="index_title">
        LikeLion <span class="preposition">at</span>
        <br>
        <em class="title_univ">Kookmin University</em>
      </h2>
    </div>
    <p class="wow fadeIn">
      멋쟁이사자처럼은 2013년 프로그래머 ‪#‎이두희‬ 씨가 설립한 프로그래밍 교육 단체입니다.
      <br>기술적 장벽 때문에 자신의 생각을 표현하지 못하는 학생들에게 프로그래밍을 교육시켜 멋진 서비스를 만들 수 있도록 하는 것이 목표입니다.
      <br>멋쟁이 사자처럼에서 만든 대표적인 웹서비스들은
      <br>자기소개서 작성을 도와주는 '자소설닷컴',
      <br>세계 최초 야동 검색 사이트 '직박구리' (현재는 서비스 중단...ㅜ),
      <br>아마추어 축구 리그 및 기록 관리 시스템 'bepro11' 등이 있습니다.
      <br>또한 멋쟁이 사자처럼의 활동을 통해 많은 학생들이 IT 스타트업에 합류하는 등의 좋은 성과를 얻을 수 있었습니다.
      <br>
      <br>멋쟁이 사자처럼은 2013년 서울대에서 시작하여,
      <br>2014년 2기는 수도권 내 11개 대학에서 180여명이 활동하였고,
      <br>2015년 3기는 전국 대학을 대상으로 500여명의 학생들이 함께 하였습니다.
      <br>2016년 4기는 전국 대학 및 해외의 학생들까지 대상으로 1000여명이 활동하였습니다.
      <br>2017년 5기는 3월에 모집을 시작합니다.
      <br>
      <br>멋쟁이사자처럼 at 국민대학교에서 여러분들의 아이디어를 실현할 수 있도록 도와드리겠습니다.
      <br>프로그래밍은 지금부터 배웁니다. 걱정하지말고 도전하세요.
      <br>2017년 3월, 열정적인 국민대생들과 함께 하고 싶습니다.</p>
  </div>
</div>
<script>
$(function() {
    $("a#link_index").attr("href", "#");
    $("a#link_index").addClass("menu-selected");
});
</script>
