<div class="container">
    <nav class="navbar nav_transparent">
        <div class="navbar-header">
            <div class="logo">
                <a href="#"><h2 class="color_orange">LikeLion_Kookmin</h2></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul id="main_menu" class="nav navbar-nav navbar-right">
            <li><a href="/home/index">Home</a></li>
            <li><a class="active" href="#">Member</a></li>
            <li><a href="/home/board">Board</a></li>
          </ul>
          <!--<ul class="nav navbar-nav navbar-right">-->
          <!--  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
          <!--  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
          <!--</ul>-->
        </div>
    </nav>        
</div>   
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="title_box">
                <h2 class="color_white wow slideInDown">
                   Member
                </h2>
            </div>
        </div>
    </div>
    <div class="masonry">
    <div class="row">
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow slideInUp">
                <p class="color_white">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                <div class="clients_say_list fix">
                    <div class="say floatleft">
                        <h5 class="color_white">Joe Doe</h5>
                        <h6>Creative Deirector@Gmoogle.com</h6>
                        <h6>010-0000-0000</h6>
                    </div>
                    <div class="c_img floatright">
                        <img src="/assets/client.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow slideInUp">
                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                <div class="clients_say_list fix">
                    <div class="say floatleft">
                        <h5>Joe Doe</h5>
                        <h6>Creative Deirector at Gmoogle.com</h6>
                    </div>
                    <div class="c_img floatright">
                        <img src="/assets/client.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow slideInUp">
                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                <div class="clients_say_list fix">
                    <div class="say floatleft">
                        <h5>Joe Doe</h5>
                        <h6>Creative Deirector at Gmoogle.com</h6>
                    </div>
                    <div class="c_img floatright">
                        <img src="/assets/client.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow slideInUp">
                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                <div class="clients_say_list fix">
                    <div class="say floatleft">
                        <h5>Joe Doe</h5>
                        <h6>Creative Deirector at Gmoogle.com</h6>
                    </div>
                    <div class="c_img floatright">
                        <img src="/assets/client.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div><!--masonry-->
</div>

<script>
$(function(){     
        //masonry 추가
        var $grid = $('.masonry').masonry({
            itemSelector: '.masonry-item',
        });   
});
</script>
