<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="title_box">
                <h2 class="color_white wow fadeInDown">
                   Member
                </h2>
            </div>
        </div>
    </div>
    <div class="masonry">
    <div class="row">
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow fadeIn">
                <p class="color_white">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                <div class="clients_say_list fix">
                    <div class="row">
                        <div class="col-xs-10 say">
                            <h3 class="color_white">Choi Jaewoong</h3>
                            <h6>jwchoi0129@gmail.com</h6>
                            <h6>010-4618-7334</h6>
                        </div>
                        <div class="col-xs-2 c_img floatright">
                            <img src="/assets/jaewoong.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow fadeIn">
                <p class="color_white">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                <div class="clients_say_list fix">
                    <div class="row">
                        <div class="col-sm-10 say">
                            <h3 class="color_white">Joe Doe</h3>
                            <h6>Creative Deirector@Gmoogle.com</h6>
                            <h6>010-0000-0000</h6>
                        </div>
                        <div class="col-sm-2 c_img floatright">
                            <img src="/assets/jaewoong.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow fadeIn">
                <p class="color_white">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                <div class="clients_say_list fix">
                    <div class="row">
                        <div class="col-sm-10 say">
                            <h3 class="color_white">Joe Doe</h3>
                            <h6>Creative Deirector@Gmoogle.com</h6>
                            <h6>010-0000-0000</h6>
                        </div>
                        <div class="col-sm-2 c_img floatright">
                            <img src="/assets/jaewoong.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow fadeIn">
                <p class="color_white">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                <div class="clients_say_list fix">
                    <div class="row">
                        <div class="col-sm-10 say">
                            <h3 class="color_white">Joe Doe</h5>
                            <h6>Creative Deirector@Gmoogle.com</h6>
                            <h6>010-0000-0000</h6>
                        </div>
                        <div class="col-sm-2 c_img floatright">
                            <img src="/assets/jaewoong.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div><!--masonry-->
</div>

<script>
$(function(){     
        //masonry 추가
        var $grid = $('.masonry').masonry({
            itemSelector: '.masonry-item',
        });   
});

$(function() {
    $("a#link_member").attr("href", "#");
    $("a#link_member").addClass("active");
});
</script>
