<div class="container content">
  <div class="content_section">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="/assets/intro1.jpg" alt="멋사지원1">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="/assets/intro2.jpg" alt="멋사지원2">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="/assets/intro3.jpg" alt="멋사지원3">
        </a>
      </div>
       <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="/assets/intro4.jpg" alt="멋사지원4">
        </a>
      </div>
       <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="/assets/intro5.jpg" alt="멋사지원5">
        </a>
      </div>
       <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="/assets/intro6.jpg" alt="멋사지원6">
        </a>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
    $("a#link_apply").attr("href", "#");
    $("a#link_apply").addClass("menu-selected");
});
</script>