<div class="container content">
  <div class="content_section">
    <div class="title_box wow fadeInDown">
      <h2>
        Apply
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="/assets/intro1.jpg" alt="멋사지원1">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="/assets/intro2.jpg" alt="멋사지원2">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="/assets/intro3.jpg" alt="멋사지원3">
        </a>
      </div>
       <div class="col-sm-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="/assets/intro4.jpg" alt="멋사지원4">
        </a>
      </div>
       <div class="col-sm-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="/assets/intro5.jpg" alt="멋사지원5">
        </a>
      </div>
       <div class="col-sm-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="/assets/intro6.jpg" alt="멋사지원6">
        </a>
      </div>
    </div>
    <hr>
    <p align = "center">
      <span style="font-size:15px;">궁금하신 점은 페이스북 페이지 메세지를 보내주시거나 오픈 카카오톡을 활용해주세요!</span><br><br>
      페이스북 : <strong><a href ="https://www.facebook.com/LikeLionKookmin">멋쟁이 사자처럼 at 국민대학교 공식 페이스북</a></strong> <br>
      오픈카카오톡 : <strong><a href ="https://open.kakao.com/o/sCFASxs">멋쟁이 사자처럼 at 국민대학교 오픈 채팅방</a></strong> <br>
    </p>
  </div>
</div>

<script>
$(function() {
    $("a#link_apply").attr("href", "#");
    $("a#link_apply").addClass("menu-selected");
});
</script>