<div class="container content">
  <div class="content_section">
    <div class="title_box wow fadeInDown">
      <h2>
        Member
      </h2>
    </div>
    <!-- member list -->
    <h2 align="center">3기</h2>
    <div class="masonry row">
      <div class="col-sm-6 masonry-item">
        <div class="member_say wow fadeIn">
          <p class="description">
            컴퓨터 전공자로서 검은 콘솔창은 제 생각을 모두 표현하기에 너무 부족했습니다.
            '멋쟁이 사자처럼'은 프로그래밍으로 구구단 말고 다른걸 만들어 볼 것을 제안했습니다.
            그것은 제가 생각했던 것보다 훨씬 멋진 일이었습니다. 그리고 그렇게 어렵지 않은 일이었습니다.
            전공은 전혀 상관없습니다. 자신의 아이디어를 실현하겠다는 열정만 있으면 충분합니다.
            아마 페이스북을 만든 주커버크도 이런 열정을 가지고 시작하지 않았을까요…?
            <br>멋쟁이사자처럼 at 국민대학교에서 이런 멋진 일을 여러분들과 함께 하고 싶습니다…!
          </p>
          <div class="member_info">
            <div class="member_profile">
              <img class="member_profile_thumb" src="/assets/jaewoong.jpg" width="75" height="75" alt="">
            </div>
            <div class="member_content">
              <strong class="member_name">Choi Jaewoong</strong>
              <span class="member_detail">컴퓨터 공학부</span>
              <span class="member_detail">jwchoi0129@gmail.com</span>
              <span class="member_detail">010.4618.7334</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 masonry-item">
        <div class="member_say wow fadeIn">
          <p class="description">
            코딩 백지 상태에서 시작했던 때가 작년 여름이었는데, 벌써 이렇게 시간이 흘렀네요.
            디자이너로서의 역량과 방향성을 아우르는 저의 또다른 전환점이 되었던 그 순간을 멋사 4기 분들도 이 곳에서 다양한 분야의 인연을 만나 함께 느끼고 경험했으면 하는 바람입니다.
            그리고 개발을 배우고자 하는 계기가 어떻게 되었든간에 4기를 통해 그 목적을 꼭 이루시길 바랍니다.
          </p>
          <div class="member_info">
            <div class="member_profile">
              <img class="member_profile_thumb" src="/assets/minkyung.jpg" width="75" height="75" alt="">
            </div>
            <div class="member_content">
              <strong class="member_name">Kang Minkyung</strong>
              <span class="member_detail">TED 인터랙션 디자인</span>
              <span class="member_detail">kaangbba@gmail.com</span>
              <span class="member_detail">010.3199.4129</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 masonry-item">
        <div class="member_say wow fadeIn">
          <p class="description">
            안녕하세요. 스타트업과 소셜벤처와 관심이 많고, 30년 뒤에도 일할 수 있는 기획자를 꿈꾸는 경영학도입니다. 제가 '멋사'에 지원한 것은 '개발자'를 이해하고 그와 대화하고 싶어서였어요. 개발자와 함께 프로젝트를 진행할수록 '개발자==외국인' 이더라구요. 주고 받는 말의 의미를 이해할 수 없었어요.
            제가 생각하는 기획은 여러 가지 영역에 많은 관심과 능력, 그리고 커뮤니케이션 스킬이 중요한 영역 같아요. 특히 커뮤니케이션을 위해서는 이해력이 중요하고, 이해력은 결국 경험에서 온다고 생각해요.
            아이디어를 멋지게 구현해줄 '개발자'를 원하시나요? 그럼 '멋쟁이 사자처럼'과 함께 '개발'에 대해 경험해보면 어떨까요?
            어쩌면 당신이 '개발자'가 될지도 몰라요. :D
            <br>/* '개발자==외국인'이 오타라고 생각한 당신, '멋사'와 함께 하셔야겠군요! */
          </p>
          <div class="member_info">
            <div class="member_profile">
              <img class="member_profile_thumb" src="/assets/saeana.jpg" width="75" height="75" alt="">
            </div>
            <div class="member_content">
              <strong class="member_name">Kim Saeana</strong>
              <span class="member_detail">경영학 전공</span>
              <span class="member_detail">seean21@naver.com</span>
              <span class="member_detail">010.4322.7030</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 masonry-item">
        <div class="member_say wow fadeIn">
          <p class="description">
            디자인만 하기엔 나에게 바라는게 많은 세상에서 나는 무엇을 하면 살아 남을 수 있을까?
            누구나 하는 그런 고민 중 들어온 멋사, 이 곳에서 배우기 시작한 코딩이라는 새로운 영역을 통해 나의 고민을 덜어 볼 생각이었다
            허나, 언어라는 것이 단순히 프로그래밍을 위한 수단이 아니고 마치 영어나 중국어를 배우듯이 더 넓은 세상과 소통하는, 말 그대로의 언어였다
            내가 단순히 고민해결을 위한 한 발짝이라고 생각했던 이 선택은 마치 광활한 곳에 들어온 것과 같은, 더 큰 도전의 첫 걸음임을 알았다.
            그리고 나의 고민과 도전은 아직 진행중이다.
          </p>
          <div class="member_info">
            <div class="member_profile">
              <img class="member_profile_thumb" src="/assets/kwanghoon.jpg" width="75" height="75" alt="">
            </div>
            <div class="member_content">
              <strong class="member_name">Noh Kwanghoon</strong>
              <span class="member_detail">공업 디자인 전공</span>
              <span class="member_detail">no_o@kookmin.ac.kr</span>
              <span class="member_detail">010.5122.5041</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h2 align="center">4기</h2>
    <div class="masonry row">
      <div class="col-sm-6 masonry-item">
        <div class="member_say wow fadeIn">
          <p class="description">
            내가 만들고 싶은 웹서비스를 직접 구현한다는 것은 정말 놀라운 경험이였습니다. 
            저는 체육학부에서 컴퓨터 공학부로 전과를 하여 저에게 있어서 멋쟁이 사자처럼은 시작점이자 큰 도전이였습니다.
            이제는 전공자가 되어서 직접 개발하고 직접 구현한다는 멋사의 멋진 목표를 이루어나가고 있어서 정말 뿌듯합니다.
            아직도 많이 부족한 실력이지만 5기 여러분들과 함께 코딩하며 좋은 경험 쌓고 싶습니다.
            <br><span style="font-weight:bold;"><em>멋쟁이 사자처럼 at 국민대학교 파이팅!!</em></span>
          </p>
          <div class="member_info">
            <div class="member_profile">
              <img class="member_profile_thumb" src="/assets/SangminKim.jpg" width="75" height="75" alt="">
            </div>
            <div class="member_content">
              <strong class="member_name">Kim Sangmin</strong>
              <span class="member_detail">컴퓨터 공학부</span>
              <span class="member_detail">ksm372510@gmail.com</span>
              <span class="member_detail">010.5208.8197</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 masonry-item">
        <div class="member_say wow fadeIn">
          <p class="description">
            살아가면서 자신에게 열정을 불어넣어주는 동기부여는 반드시 필요하다. 작년 이맘때 나에게 다시금 배움의 열정을 일깨워준 멋사.
            호기심에 시작하였지만 전혀 색다른 전공을 접함으로써 하루하루 헛되이 보내지 않게 되었고 다양한 전공자들이 뭉쳐 배워왔던 프로그래밍 실력을 뽐낼 수 있었던 해커톤에서는 막연하기만 했던 아이디어가 많은 사람들 앞에서 결과물로써 빛나는걸 볼 수 있었다.
            촛불이 모이면 횃불이 되듯이 열정이 모이면 ‘불가능’이라는 단어는 반드시 ‘가능’이라는 희망으로 바뀌게 될 것입니다.
            멋쟁이사자처럼 5기 at 국민대학교에서 여러분들과 함께 열정으로 횃불을 만들고 싶습니다.
          </p>
          <div class="member_info">
            <div class="member_profile">
              <img class="member_profile_thumb" src="/assets/myeonggeun.png" width="75" height="75" alt="">
            </div>
            <div class="member_content">
              <strong class="member_name">Choi Myeonggeun</strong>
              <span class="member_detail">전자공학과</span>
              <span class="member_detail">cmg002@naver.com</span>
              <span class="member_detail">010.2735.2928</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 masonry-item">
        <div class="member_say wow fadeIn">
          <p class="description">
            디자인과에 전공하면서 코딩에 대해 정말 아무것도 몰랐었는데 멋사에 들어오게 되면서 코딩을 알게 되었다.
            배우면 배울수록 어려웠지만 새로운 사람들과 함께 코딩을 배우고 이야기를하고 코드를 짜는 것이 재밌었다.
            또 코드가 옳게 짜여졌을때 오는 희열도 좋았다. 그리고 만약에 조금 더 시간적인 여유가 있다면 코딩을 더 배우고 싶단 생각이 있다.
          </p>
          <div class="member_info">
            <div class="member_profile">
              <img class="member_profile_thumb" src="/assets/maro.jpeg" width="75" height="75" alt="">
            </div>
            <div class="member_content">
              <strong class="member_name">Kim Byeolmaro</strong>
              <span class="member_detail">공업디자인학과</span>
              <span class="member_detail">byuleam3947@naver.com</span>
              <span class="member_detail">010.9133.9246</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 masonry-item">
        <div class="member_say wow fadeIn">
          <p class="description">
            컴퓨터를 모르는 사람에게 실무적인 지식을 배울 수 있는 것은 물론 나와 생각이 맞는 사람들과 함께 행동하며 생각을 공유할 수 있는 정말 멋진 활동!
            다른 학교 사람도 많이 만나고 자신의 능력도 향상시킬 수 있는 절호의 기회!
            개인적으로 작년에 4기 활동을 하면서 얻은게 정말 많다고 생각합니다.
            전공생 비전공생 모두에게 추천하는 멋쟁이사자처럼!
          </p>
          <div class="member_info">
            <div class="member_profile">
              <img class="member_profile_thumb" src="/assets/harim.jpeg" width="75" height="75" alt="">
            </div>
            <div class="member_content">
              <strong class="member_name">Choi Harim</strong>
              <span class="member_detail">전자공학과</span>
              <span class="member_detail">harim3737@gmail.com</span>
              <span class="member_detail">010.6711.2302</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
        //masonry 추가
        var $grid = $('.masonry').masonry({
            itemSelector: '.masonry-item',
        });
});
$(function() {
    $("a#link_member").attr("href", "#");
    $("a#link_member").addClass("menu-selected");
});
</script>
