<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="title_box">
                <h2 class="color_white wow fadeInDown">
                   Member
                </h2>
            </div>
        </div>
    </div>
    <div class="masonry">
      <div class="row">
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow fadeIn">
                <div class="clients_say_box">
                    <p class="color_white">
                    컴퓨터 전공으로서 검은 Console 창은 나의 생각을 표현하기에는 너무 부족했습니다. '멋쟁이 사자처럼'은 저에게 프로그래밍으로 구구단 말고 다른걸 만들어 볼 것을 제안했습니다.  그것은 제가 생각했던 것보다 훨씬 멋진 일이었습니다. 그리고 그렇게 어렵지 않은 일이었습니다.  전공은 전혀 상관없습니다. 자신의 아이디어를 실현하겠다는 열정만 있으면 충분합니다. 아마 페이스북도 이런 식으로 시작하지 않았을까요…?
    <br>멋쟁이사자처럼 at 국민대학교에서 이런 멋진 일을 여러분들과 함께 하고 싶습니다…!
                    </p>
                </div>
                <div class="clients_say_list fix">
                    <div class="row">
                        <div class="col-xs-9 col-md-10 say">
                            <h3 class="color_white">Choi Jaewoong</h3>
                            <h6>컴퓨터 공학부</h6>
                            <h6>jwchoi0129@gmail.com</h6>
                            <h6>010.4618.7334</h6>
                        </div>
                        <div class="col-xs-3 col-md-2 c_img floatright">
                            <img src="/assets/jaewoong.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow fadeIn">
                <div class="clients_say_box">
                    <p class="color_white"> 코딩 백지 상태에서 시작했던 때가 작년 여름이었는데, 벌써 이렇게 시간이 흘렀네요. 디자이너로서의 역량과 방향성을 아우르는 저의 또다른 전환점이 되었던 그 순간을 멋사 4기 분들도 이 곳에서 다양한 분야의 인연을 만나 함께 느끼고 경험했으면 하는 바람입니다. 그리고 개발을 배우고자 하는 계기가 어떻게 되었든간에 4기를 통해 그 목적을 꼭 이루시길 바랍니다.
                        <br>다시 한 번 반갑습니다, Likelion 4기 at Kookmin 여러분.
                    </p>
                </div>
                <div class="clients_say_list fix">
                    <div class="row">
                        <div class="col-xs-9 col-md-10 say">
                            <h3 class="color_white">Kang Minkyung</h3>
                            <h6>TED 인터랙션 디자인</h6>
                            <h6>kaangbba@gmail.com</h6>
                            <h6>010.3199.4129</h6>
                        </div>
                        <div class="col-xs-3 col-md-2 c_img floatright">
                            <img src="/assets/minkyung.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow fadeIn">
                <div class="clients_say_box">
                    <p class="color_white">
                         안녕하세요. 스타트업과 소셜벤처와 관심이 많고, 30년 뒤에도 일할 수 있는 기획자를 꿈꾸는 경영학도입니다. 제가 '멋사'에 지원한 것은 '개발자'를 이해하고 그와 대화하고 싶어서였어요. 개발자와 함께 프로젝트를 진행할수록 '개발자==외국인' 이더라구요. 주고 받는 말의 의미를 이해할 수 없었어요.
  제가 생각하는 기획은 여러 가지 영역에 많은 관심과 능력, 그리고 커뮤니케이션 스킬이 중요한 영역 같아요. 특히 커뮤니케이션을 위해서는 이해력이 중요하고, 이해력은 결국 경험에서 온다고 생각해요.
  아이디어를 멋지게 구현해줄 '개발자'를 원하시나요? 그럼 '멋쟁이 사자처럼'과 함께 '개발'에 대해 경험해보면 어떨까요?
  어쩌면 당신이 '개발자'가 될지도 몰라요. :D
  <br>/* '개발자==외국인'이 오타라고 생각한 당신, '멋사'와 함께 하셔야겠군요! */
                    </p>
                </div>
                <div class="clients_say_list fix">
                    <div class="row">
                        <div class="col-xs-9 col-md-10 say">
                            <h3 class="color_white">Kim Saeana</h3>
                            <h6>경영학 전공</h6>
                            <h6>seean21@naver.com</h6>
                            <h6>010.4322.7030</h6>
                        </div>
                        <div class="col-xs-3 col-md-2 c_img floatright">
                            <img src="/assets/saeana.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 masonry-item">
            <div class="clients_say wow fadeIn">
                <div class="clients_say_box">
                    <p class="color_white">
                    디자인만 하기엔 나에게 바라는게 많은 세상에서 나는 무엇을 하면 살아 남을 수 있을까?
  누구나 하는 그런 고민 중 들어온 멋사, 이 곳에서 배우기 시작한 코딩이라는 새로운 영역을 통해 나의 고민을 덜어 볼 생각이었다
  허나, 언어라는 것이 단순히 프로그래밍을 위한 수단이 아니고 마치 영어나 중국어를 배우듯이 더 넓은 세상과 소통하는, 말 그대로의 언어였다
  내가 단순히 고민해결을 위한 한 발짝이라고 생각했던 이 선택은 마치 광활한 곳에 들어온 것과 같은, 더 큰 도전의 첫 걸음임을 알았다.
  그리고 나의 고민과 도전은 아직 진행중이다
                    </p>
                </div>
                <div class="clients_say_list fix">
                    <div class="row">
                        <div class="col-xs-9 col-md-10 say">
                            <h3 class="color_white">Noh Kwanghoon</h3>
                            <h6>공업 디자인 전공</h6>
                            <h6>no_o@kookmin.ac.kr</h6>
                            <h6>010.5122.5041</h6>
                        </div>
                        <div class="col-xs-3 col-md-2 c_img floatright">
                            <img src="/assets/kwanghoon.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div><!-- row -->
    </div><!--masonry-->
</div>

<script>
$(function(){
        //masonry 추가
        var $grid = $('.masonry').masonry({
            itemSelector: '.masonry-item',
        });
});

$(function() {
    $("a#link_member").attr("href", "#");
    $("a#link_member").addClass("active");
});
</script>
