.post_list {
  list-style: none;
  padding: 0;
}
.post_item {
  position: relative;
  border-top: 1px solid #ddd;
  height: 60px;
  .post_num {
    display: inline-block;
    width: 60px;
    height: 100%;
    padding-left: 10px;
    line-height: 59px;
    font-style: normal;
    font-weight: bold;
  }
  .post_content {
    position: absolute;
    left: 60px;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .post_title {
    display: block;
    padding-top: 10px;
  }
  .post_writer {
    float: left;
    font-weight: bold;
  }
  .post_date {
    float: left;
    font-weight: bold;
    &:before {
      // display: inline-block;
      float: left;
      width: 2px;
      height: 10px;
      margin: 5px 8px;
      background-color: $color-light-text;
      content: '';
    }
  }
  .post_hits {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
  }
}

.right_button {
  position: absolute;
  top: 200px;
  right: 0px;
  width: 90px;
}
.left_button {
  position: absolute;
  top: 200px;
  right: 100px;
  width: 90px;
}
.flash_message {
  position: absolute;
  top: 200px;
  right: 100px;
  padding: 5px;
  margin: 0;
}

// board/detail.html
.text-label {
  margin:0;
  font-size: 14px;
  font-weight: 700;
}
.border-title {
  margin: 10px 0 20px;
  padding: 6px 12px;
  border: 1px solid $color-grey;
  border-radius:5px;
  p{
    margin: 0px;
  }
}

// board/write_post.html
.wmd-input {
  resize: none;
  margin-top: 10px;
}

.wmd-preview {
  margin: 10px 0px 10px 0px;
  padding: 10px 10px;
  background-color: white;
  border: 1px solid $color-grey;
  border-radius:5px;
  h1, h2, h3 {
    margin: 0 0 10px;
  }
}
