.field {
  position: relative;
  padding-bottom: 25px;
  .input_area {
    width: 240px;
  }
  .introduction_area {
    resize: none;
    width: 400px;
  }
  .warning_message {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-style: normal;
    font-weight: bold;
    color: #d20000;
    display: none;
  }
}
