.guest_form_field{
  border: 0 none;
  .guest_form {

  }
  .guest_input {
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 0px;
    width: 150px;
  }
  .guest_form_content{
    resize: none;
    border-radius: 0px;
  }
  .submit_button{
    float: right;
  }
}
.guest_name {
  display: block;
  font-size: 20px;
  font-weight: normal;
  margin: 10px 0;
}
.guest_post_list{
  padding-left: 0px;
  list-style: none;
  .list_secret_item{
    list-style: none;
    border-top: 1px solid $color-hr;
    padding: 10px;
  }
  .list_public_item{
    position: relative;
    list-style: none;
    border-top: 1px solid $color-hr;
    padding: 20px 0px;
    margin: 0 10px;
  }
  .guest_date{
    position: absolute;
    top: 5px;
    right: 0;
    color: $color-light-text;
    font-size: 12px;
  }
  .guest_secret_message{
    font-size:20px;
    font-weight:400;
    margin: 0;
  }
  .guest_content{
    font-size:14px;
    font-weight:400;
    color: $color-light-text;
    padding:0px 20px;
  }
}
.modal_warn_message {
  font-size: 24px;
  color: #d9534f;
}
