.title_box {
  .index_title {
    font-size: 45px;
    color: $color-orange;
    .preposition {
      font-size: 25px;
    }
    .title_univ {
      font-style: normal;
      color :$color-yellow-green;
    }
  }
}
