// member
.member_say {
  margin-bottom: 30px;
  .description {
    background: rgba(225, 225, 225, .3);
    border: 1px solid $color-grey;
    color: $color-text;
    padding: 20px 20px;
  }
}
.member_info {
    margin-top: 10px;
    &:after {
      @extend %clearfix;
    }
}
.member_content {
  float:right;
  .member_name {
    display: block;
    text-align: right;
    font-size: 24px;
    color: $color-text;
  }
  .member_detail {
    display: block;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: $color-light-text;
  }
}
.member_profile {
  float: right;
  margin: 8px 0 0 10px;
  vertical-align: middle;
  text-align: right;
  &_thumb {
      border-radius: 50%
  }
}
