// color
$color-text: #333;
$color-light-text: #5c5c5c;
$color-side-background: #23282B;
$color-grey: #ccc;
$color-hr: #e7e7e7;
$color-darker-hr: #a1a1a1;
$color-orange: #ff9a00;
$color-navy: #003b8d;
$color-yellow-green: #8fd000;
// font
$font-title: 'Open Sans', sans-serif;
$font-jeju: 'Jeju Gothic', sans-serif;
$font-noto: 'Noto Sans KR', sans-serif;
//
$header-footer-height: 170px;
