/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,
 body {
     background: url(/assets/bg.png);
     background-repeat: no-repeat;
      background-attachment: fixed;
     background-size: cover;
     background-position: center center
 }

 /* float */
 .floatleft {
     float: left
 }
 .floatright {
     float: right
 }

 /* color */
 .color_orange,
 .active_menu{
     color: #F9AE00 !important;
 }
 .color_white{
     color: #ffffff !important;
 }
 .color_black{
     color: black !important;
 }

 img {
     max-width: 100%;
     height: auto;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-weight: 700;
     font-family: 'Cabin', sans-serif;
 }

 p {
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     font-size: 14px;
 }

 .navbar-nav>li>a {
     font-size: 14px;
     color: #fff;
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase
 }
 .navbar-nav>li>a:hover,
 .navbar-nav>li>a:active,
 .navbar-nav>li>a:focus {
     outline: 0px solid;
     background: none
 }

 .nav_transparent{
     padding-top : 10px;
     background-color: transparent !important;
     border-color: transparent !important;
 }

 .logo {
     margin-top: 5px;
     margin-right : 200px;
 }

 .logo a {
     text-decoration: none
 }

/*** no use ***/
 #preloader {
     background: none repeat scroll 0 0 #fff;
     height: 100%;
     position: fixed;
     width: 100%;
     z-index: 9999;
 }
 #preloader i {
     left: 50%;
     margin-left: -15px;
     margin-top: -15px;
     position: absolute;
     top: 50%;
 }
