body {
    position: relative;
    overflow-x: hidden;
}
body,
html {
  height: 100%;
  background-color: white;
  font-family: $font-title;
  color: $color-text;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

//sidebar 생성 시 사라 지는 부분 (left_section)
.info_section{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height:100%;
  width: 250px;
  z-index: 999;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $color-side-background;
}

//info_section LikeLion logo area
.area_logo{
  position: fixed;
  left:50px;
  bottom: 10px;
  width:150px;
  height: 150px;
}
// .area_logo{
//   position: fixed;
//   left:20px;
//   bottom: 10px;
//   width:210px;
//   height: 35px;
// }

// 내용 부분 (right section)
.content_section{
  font-family: $font-noto;
  padding-left: 250px;
  min-height: 700px;
  min-width:600px;
}

div .title_box{
    // border-bottom: 1px solid $color-hr;
    margin-bottom: 20px;
}
div .title_box h2{
    font-family: $font-title;
    font-weight: 700;
    color: $color-text;
    font-size: 35px;
    display: inline;
}

.hr-default-style{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid $color-hr;
}
.hr-highlight-style{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid $color-light-text;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

//sidebar
#sidebar-wrapper {
    z-index: 1000;
    width: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

/*-------------------------------*/
/*        SideMenu Open          */
/*-------------------------------*/
#wrapper.toggled {

}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
}
#wrapper.toggled .hamburger{
  margin-left: 180px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}
.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 5px;
    background-color: transparent;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: transparent;
}
.sidebar-nav li:nth-child(2):before{
    background-color: #ECD078;
}
.sidebar-nav li:nth-child(3):before{
    background-color: #D95B43;
}
.sidebar-nav li:nth-child(4):before{
    background-color: #C02942;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #542437;
}
// .sidebar-nav li:nth-child(6):before {
//     background-color: #7d5d81;
// }
// .sidebar-nav li:nth-child(7):before {
//     background-color: #ead24c;
// }
// .sidebar-nav li:nth-child(8):before {
//     background-color: #2d2366;
// }
// .sidebar-nav li:nth-child(9):before {
//     background-color: #35acdf;
// }
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
}
.sidebar-nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
//sidebar logo section
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
//메뉴 선택 시 font_style
.menu-selected{
  font-size: 20px;
  font-weight: bold;
}
/*-------------------------------*/
/*       sidemenu_button         */
/*-------------------------------*/
.hamburger {
  position: fixed;
  top: 20px;
  z-index: 1001;
  display: block;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

 /* float */
 .floatleft {
     float: left
 }
 .floatright {
     float: right
 }

 /* color */
 .color_orange{
     color: $color-orange !important;
 }

/*-------------------------------*/
/*       footer         */
/*-------------------------------*/

.area_footer {
  padding-left: 250px;
  margin-top: 20px;
  height:50px;
  border-top: 1px solid $color-hr;
  line-height: 30px;
  color: #aaa;
  text-align: center;
  min-width:600px;
}

.area_footer h2{
  font-weight: bold;
  color: $color-orange;
  margin:5px 5px;
}
.area_footer h6{
  color: $color-light-text;
  margin:5px 5px;
}

.footer_logo{
  margin-top: 5px;
  width:270px;
  height:45px;
  float:left;
}
.footer_link{
  margin-top: 5px;
  float:right;
  text-align:right;
}

/*** no use ***/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

 #preloader {
     background: none repeat scroll 0 0 #fff;
     height: 100%;
     position: fixed;
     width: 100%;
     z-index: 9999;
 }
 #preloader i {
     left: 50%;
     margin-left: -15px;
     margin-top: -15px;
     position: absolute;
     top: 50%;
 }
