// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.padding_container{
   width: 1200px;
   padding-left: 50px;
   padding-right: 50px;
   margin: 50px auto 100px auto;
}
.board_container{
   width: 100%;
   min-height: 600px;
   background-color: rgba(255, 255, 255, 0.8);
   border-radius:30px;
   padding: 0px 30px 20px 30px;
   -moz-box-shadow: 4px 4px 10px 5px rgba(10,10,0,.5);
   -webkit-box-shadow: 4px 4px 10px 5px rgba(10,10,0,.5);
   box-shadow: 4px 4px 15px 3px rgba(10,10,0,.5);
}

.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}


 /*** board/list.html ***/
.write_button_margin{
  margin-top: 20px;
}

.bottom_hr{
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #eee;
}

/*** board/write_post.html ***/
.wmd-input{
  resize: none;
  margin-top: 10px;
}

.wmd-preview{
  margin: 10px 0px 10px 0px;
  padding: 10px 10px 10px 10px;
  background-color: white;
  border-radius:5px;
}
