// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .board_container{
//    margin: 0px 0px 50px 0px;
//    width: 100%;
//    min-height: 600px;
//    background-color: rgba(255, 255, 255, 0.8);
//    padding: 0px 30px 20px 30px;
//    -moz-box-shadow: 4px 4px 5px 5px rgba(10,10,0,.5);
//    -webkit-box-shadow: 4px 4px 10px 5px rgba(10,10,0,.5);
//    box-shadow: 2px 2px 10px 3px rgba(10,10,0,.5);
// }

 /*** board/list.html ***/
.write_button,
.submit_button{
  float:right;
}

.table>tbody>tr>th.table-number{
  width: 10%;
  vertical-align: middle;
}
.table>tbody>tr>th.table-content{
  width: 90%;
  .table-content-title{
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px 0px;

  }
}

//칸막이
.text_bar {
    display: inline-block;
    width: 2px;
    height: 10px;
    margin: 0 8px;
    background-color: $color-light-text;
}

/*** board/detail.html ***/

.text-label{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}
.border-title,
.border-content{
    padding: 6px 12px;
    border: 1px solid $color-grey;
    border-radius:5px;
}
.border-title{
  margin-bottom: 20px;
  p{
    margin: 0px;
  }
}

/*** board/write_post.html ***/
.wmd-input{
  resize: none;
  margin-top: 10px;
}

.wmd-preview{
  margin: 10px 0px 10px 0px;
  padding: 10px 10px;
  background-color: $color-grey;
  border-radius:5px;
}
