// index.html
#header_area {
    padding-top: 45px;
    padding-bottom: 45px;
}

.header_area_text {
    padding-top: 85px;
    padding-bottom: 200px;
    padding-left: 180px;
}

.header_area_text h2 {
    font-size: 50px;
    color: #fff
}

.header_area_text p {
    color: #fff;
    margin: 30px 0px;
}

.header_area_text a {
    background: #4ECB8C;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}


 #footer_area {
     background: #232323;
     padding: 30px 0px;
     color: #fff;
 }

 .company_logo {
     margin-top: 50px
 }

 .company_address {
     padding: 10px 30px;
 }

 .company_address h2 {
     font-size: 18px;
     text-transform: uppercase
 }

 .company_address p {
     font-size: 14px;
     font-weight: 300
 }

 .company_address h3 {
     font-size: 14px;
     font-weight: 300
 }
