.title_box .title_first{
  color: $color-orange;
  font-size: 50px;
}

.title_box .title_second{
  color :$color-orange;
  font-size: 30px;
}

.title_box .title_third{
  color :$color-yellow-green;
  font-size: 50px;
}
