// Place all the styles related to the member controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** member/list.html ***/
.member_say {
    margin-bottom: 30px;
}
.member_say p {
    border: 1px solid $color-grey;
    color: $color-text;
    padding: 20px 20px;
}

.member_info {
    margin-top: 20px;
}
.member_info h3 {
    text-align: right;
    margin: 4px 4px 8px 4px;
    color: $color-text;
}
.member_info h6 {
    text-align: right;
    margin: 4px;
    color: $color-light-text;
}
.fix {
    overflow: hidden
}

.member_profile {
    padding-left: 0;
    vertical-align: middle;
    text-align: right;
}

.member_profile img {
    width: 100%;
    border-radius: 50%
}
