<div class="container">
    <nav class="navbar nav_transparent">
        <div class="navbar-header">
            <div class="logo">
                <a href="#"><h2 class="color_orange">LikeLion_Kookmin</h2></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul id="main_menu" class="nav navbar-nav navbar-right">
            <li><a id="link_index" href="/home/index">Home</a></li>
            <li><a id="link_member" href="/member/list">Member</a></li>
            <li><a id="link_board" href="/board/list">Board</a></li>
          </ul>
          <!--<ul class="nav navbar-nav navbar-right">-->
          <!--  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
          <!--  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
          <!--</ul>-->
        </div>
    </nav>
</div>
