<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
               likelion_kookmin
            </a>
        </li>
        <li>
            <a id="link_index" href="/home/index">Home</a>
        </li>
        <li>
            <a id="link_member" href="/member/list">Member</a>
        </li>
        <li>
            <a id="link_board" href="/board/list">Board</a>
        </li>
        <li>
            <a id="link_guest_book" href="/guestbook/list">Guest Book</a>
        </li>
    </ul>
</nav>
<!-- /#sidebar-wrapper -->
